.container {
  position: relative;
  margin-top: 20px;
}

.item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 310px;
  height: 65px;
  border-radius: 3px;
}

.title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: var(--font-kr);
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
}

.title-left-side {
  display: flex;
}

.title-icon {
  margin: 0 20px;
  transition: all 300ms ease;
}

.title-icon.up {
  transform: rotate(180deg);
}

.menu-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  font-family: 'Noto Sans KR', sans-serif;
  opacity: 0;
}

.menu-container.show {
  position: relative;
  opacity: 1;
}

.menu-container.multiline {
  flex-direction: column;
}

.menu-left-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-left-side.multiline {
  margin-right: auto;
}

.menu-title {
  font-weight: 400;
  font-size: 14px;
  margin-right: 8px;
}

.menu-name {
  font-weight: 700;
  font-size: 18px;
}

.menu-bank {
  text-align: end;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}
