.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-black);
  font-family: var(--font-kr);
}

.item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
}

.contents {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.info {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: var(--color-gray);
}
